<nav>
  <header>
    <h2>Recipes</h2>
    <button
        class="btn btn-default btn-sm btn-block"
        routerLink="/new"
        routerLinkActive="active">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Recipe
    </button>
  </header>

  <div class="list-group" *ngIf="recipes">
    <a
        class="list-group-item"
        routerLinkActive="active"
        *ngFor="let recipe of recipes"
        [routerLink]="['recipe', recipe.id]">
      {{recipe.name}}
    </a>
  </div>
</nav>
